/* this file is left blank on purpose, if developer can't find classes he needs in framework, he can customize his
app adding his own styles here
 */

body {
    margin: 0px auto;
    background-color:#000;
}

.contents {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:100%;
	background-color:#00113b;
 	border-radius: 100%;
}


.OBCount {
	text-align: center;
	font-size:2.5em;
	color:#fff;
	background-color:#00113b;
}
.WCount {
	text-align: center;
	font-size:1.5em;
	color:#fff;
	background-color:#00113b;
}
.ECount {
	text-align: center;
	font-size:1.5em;
	color:#fff;
	background-color:#00113b;
}

.reset_button {
	background-color: #4CAF50; /* Green */
  	border: none;
  	background-image:url(outline_refresh_white_24dp.png);
  	background-position:50% 50%;
    background-repeat:no-repeat;  
  	size: 50px 50px;
  	padding: 26px 26px;
 	border-radius: 100%;
 	font-size:0;
 	position: absolute;
}
.reset {
	size: 48px 48px;
	transform: scaleX(-1);
}

.topSection {
	flex-grow: 3;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
}
.topInner {
	background-color: #3311ff;
	padding: 0em;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width:100%;
	
}
.bottomSection {
	flex-grow: 1;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.wickets {
	background-color: #ff33ff;
}
.extras {
	background-color: #ffff33;
}

.OBtext {
	color: #cc33ff;
	font-size:0.75em;
	margin: 0em;
}
.Wtext {
	color: #33ff33;
	font-size:0.75em;
	margin: 0em;
}
.Etext {
	color: #ff3333;
	font-size:0.75em;
	margin: 0em;
}